html, body {
  body {
  font-family: "Outfit", sans-serif;
}
  input {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
}
canvas {
  display: block;
  
}
